google-cloud-aiplatform[adk,agent_engines]
google-adk
google-genai
python-dotenv
reportlab
pandas
openpyxl
google-cloud-firestore
cloud-sql-python-connector[pg8000]
google-cloud-logging
streamlit
python-docx
markdown
weasyprint
